
{% load static %}
<footer id="main-footer">
    <div class="flex-container">
        <div class="item item-1">
            <div id="social">
                <h2>SOCIAL MEDIA</h2>
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-instagram-square fa-2x"></i>
                <i class="fab fa-twitter-square fa-2x"></i>
            </div>

            <div id="company">
                <h2>COMPANY</h2>
                <ul style="list-style: none;">
                    <li> About JDH</li>
                    <li> Careers</li>
                    <li> Development</li>
                    <li> Blog</li>
                    <li> Terms of Use</li>
                    <li> JDH News</li>
                    <li> Vaction Club </li>
                    <li> Email Management</li>
                    <li> Contact Us</li>
                    <li> Site Map</li>
                </ul>
            </div>
        </div>


            <div class="item item-2">
                <div id="pay">
                    <i class="fab fa-google-pay fa-3x"></i>
                    <i class="fab fa-apple-pay fa-3x"></i>
                </div>
            
                <div id="app">
                    <div id="ios">
                        <i class="fal fa-mobile-alt fa-2x"></i>
                        <p><span>Avaliable on the</span><br>App Store</p>
                    </div>
                    <div id="android">
                    <i class="fab fa-google-play"></i>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis illum repudiandae velit architecto odio. Dicta.</p>
                    </div>
                </div>
            </div>
            
    </div>
    <p>Hotel JD &copy; 2021, All Rights Reserved</p>
</footer>