


<div class="clr"></div>

    <form action="{% url 'search' %}">

            <h2>Where would you like to go!</h2>
    
            <div class="col-md-3 mo-3" >
                <input type="text" id="keywords" name="keywords" class="form-control" placeholder="Keywords (room type, etc)"></input>
            </div>

            <div class="col-md-3 mo-3" >
                <input type="text" id="city" name="city" class="form-control"  placeholder="City"></input>
            </div>

            <div class="col-md-2 " >
                <select type="text" id="state" name="state" class="form-control" placeholder="State">
                    <option selected="true" disabled="disabled">State (All)</option>
                    {% for key,value in state_choices.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %} 
                </select>
            </div>
            

            <div class="col-md-2 " >
                <select name="price" class="form-control" placeholder="State">
                    <option selected="true" disabled="disabled">Max Price</option>
                     {% for key,value in price_choices.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}  
                </select>
            </div>


                
            <div class="col-md-3 mb-3">
                <select name="bedrooms" class="form-control" placeholder="Stndard">
                    <option selected="true" disabled="disabled">Room Type (All)</option>
                        {% for key,value in bedroom_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                </select>
            </div>


            <div class="col-md-3 mb-3">
                <select name="bedsize_choices" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Bed Size (Any)</option>
                        {% for key, value in bedsize_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                  
                </select>
            </div>
             
              <button class="btn btn-secondary btn-block mt-1" type="submit">Submit Form</button>
            </form>
          
            
                  
          
    
    </form>
