<div id="booking">
    <div id="block1">
        <div class="item">
            <input type="text" placeholder="Destination">
        </div>
        <div id="date_in" class="item">
            <input type="date" placeholder="Date In"> 
        </div>
        <div id="date_out" class="item">
            <input type="date" placeholder="Date Out"> 
        </div>
        <button class="item" id="find">FIND HOTELS</button></div>
    <br> 
    <div id="block2">
        <div class="item">
            
            <input type="number" placeholder="Room">
        </div>
        <div class="item">
            
            <input type="number" placeholder="# Guest">
        </div>
        <div class="item2">
            <input type="checkbox">
            <label for="guest">Use Points / Certificates</label>
        </div>
    </div>
    
</div>