<div id="booking">
    <div id="block1">
        <div class="item">
            <label for="destination">Destination</label>
            <input type="text">
        </div>
        <div id="date_in" class="item">
            <label for="date">Dates            </label>
            <input type="date" placeholder="Date In"> 
        </div>
        <div id="date_out" class="item">
            <label for="date">            1NIGHTS</label>
            <input type="date" placeholder="Date Out"> 
        </div>
      
        <button class="item" id="find">FIND HOTELS</button>    
       
    </div>
    <br> 
    <div id="block2">
        <div class="item">
            <label for="room">Room</label>
            <input type="number" placeholder="1 room">
        </div>
        <div class="item">
            <label for="guest">Guest</label>
            <input type="number" placeholder="1 Adult">
        </div>
        <div class="item2">
            <input type="checkbox">
            <label for="guest">Use Points / Certificates</label>
        </div>
    </div>
    
</div>