{% extends 'base.html' %}

{% load static %}
{% block content %}


<body>
    <header>
        {% include 'partials/_topbar.html' %} 
        <div id="showcase">
            <div class="container">
                <div class="showcase-content">
                    <h1><span class="text-primary">Enjoy</span> Your Stay</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dignissimos consequuntur magni numquam nisi laboriosam, mollitia harum distinctio exercitationem! Laborum, praesentium corporis illum eius expedita tenetur quod ipsam libero omnis.</p>
                    <a class="btn" href="{% url 'about' %}">About Our Hotel</a>
                </div>
            </div>
        </div>
    </header>


<div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="center">Featured Listings</h2>
                </div>
                <!--end title-->
                <div class="gallery-carousel">
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                </div>
                <!--end gallery-carousel-->
            </div>
            <!--end container-->
            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->

<section id="home-info" class="bg-dark">
    <div class="info-img"></div>
        <div class="info-content">
            <h2><span class="text-primary">The History </span>Of Our Hotel</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate mollitia laboriosam iure commodi explicabo deserunt, fugit ratione soluta cum similique, blanditiis dolorum? Ut maiores voluptates adipisci consequuntur autem deleniti laudantium iusto, velit architecto quas nisi dolore ad optio itaque magnam debitis tenetur officia neque asperiores cupiditate explicabo ipsa. Praesentium, odio! </p>
            <a href="{% url 'about' %}" class="btn btn-light">Read More</a>
    </div>
</section>

<section id="features">
    <div class="box bg-light">
        <i class="fas fa-hotel fa-3x"></i>
    <h3>Great Location</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla corrupti, incidunt fugit commodi in ducimus quod delectus cupiditate sit laboriosam eum voluptatibus velit sint harum quisquam iste libero veritatis. Exercitationem!</p>
   </div>
    <div class="box bg-primary">
    <i class="fas fa-utensils fa-3x"></i>
    <h3>Free Meals</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla corrupti, incidunt fugit commodi in ducimus quod delectus cupiditate sit laboriosam eum voluptatibus velit sint harum quisquam iste libero veritatis. Exercitationem!</p>
   </div>
    <div class="box bg-light">
        <i class="fas fa-dumbbell fa-3x"></i>
    <h3>Fitness Room</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla corrupti, incidunt fugit commodi in ducimus quod delectus cupiditate sit laboriosam eum voluptatibus velit sint harum quisquam iste libero veritatis. Exercitationem!</p>
   </div>
</section>


<div class="clr"></div>



{% endblock content %}