{% extends "base.html" %}

{% load static %}


{% block content %}
 
<div id="listings_container">
    <div id="item_1">
        <section id="filter_container">    
            <div id="filters">
                <div id="b1">
                    <div id="results">
                        <h2>Narrow results:</h2>
                        <p>1,123 hotels, air bnb's</p>
                    </div>
                    <div id="property_name">
                        <label id="inputfield-20">Name contains</label>
                        <input type="text" placeholder="Property name" aria-labelledby="inputfield-20">
                    </div>


                        <ul class="list-popular">
                            <li><button role="checkbox" aria-checked="false" class="filter_item" data-value="2048" type="button">Breakfast included</button></li>
                            <button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="2048" type="button">Breakfast included</button>
                            <li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="2048" type="button">Breakfast included</button></li>
                            <li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="128" type="button">Pool</button></li>
                            <li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="527" type="button">WiFi included</button></li>
                            <li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="134234112" type="button">Parking included</button></li>
                            <li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="64" type="button">Pet Friendly</button></li>
                            <ul class="list-popular _18fjyY"><li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="2048" type="button">Breakfast included</button></li><li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="128" type="button">Pool</button></li><li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="527" type="button">WiFi included</button></li><li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="134234112" type="button">Parking included</button></li><li><button role="checkbox" aria-checked="false" class="_3cAYOx" data-value="64" type="button">Pet Friendly</button></li>
                        </ul>
                    <legend class="_1mIXmW"><span class="_2OoRbu">Nightly Price:</span><span class="_28Rk2P">$0 - $500+</span></legend>
                    <span class="_2OoRbu">Nightly Price:</span>
                    <span class="_28Rk2P">$0 - $500+</span>
                    <legend class="_1mIXmW"><span class="_2OoRbu">Nightly Price:</span><span class="_28Rk2P">$0 - $500+</span></legend>
                    <legend class="_1mIXmW"><span class="_2OoRbu">Nightly Price:</span><span class="_28Rk2P">$0 - $500+</span></legend>
                    <span class="_2OoRbu">Nightly Price:</span>
                    <span class="_28Rk2P">$0 - $500+</span>
                    <legend class="_1mIXmW"><span class="_2OoRbu">Nightly Price:</span><span class="_28Rk2P">$0 - $500+</span></legend>

                    <h2>Star rating</h2>
                    <div class="_2B2cb2">
                        <input name="f-star-rating" id="f-star-rating-1" type="checkbox" class="is-visually-hidden" data-value="1"><label for="f-star-rating-1" class="">1</label><input name="f-star-rating" id="f-star-rating-2" type="checkbox" class="is-visually-hidden" data-value="2"><label for="f-star-rating-2" class="">2</label><input name="f-star-rating" id="f-star-rating-3" type="checkbox" class="is-visually-hidden" data-value="3"><label for="f-star-rating-3" class="">3</label><input name="f-star-rating" id="f-star-rating-4" type="checkbox" class="is-visually-hidden" data-value="4"><label for="f-star-rating-4" class="">4</label><input name="f-star-rating" id="f-star-rating-5" type="checkbox" class="is-visually-hidden" data-value="5"><label for="f-star-rating-5" class="">5</label>
                    </div>
        
                </div>
            </div>
        </section>
    </div>
        
    
    <!---    Right  Side   -->
    <div id="item_2">
        <div class="sort">
            <h1>Name of Search City and State, United States of Anerica</h1>
            <p>Sort by 
                <button>Featured</button>
                <button>Star rating</button>
                <button>Distaince</button>
                <button>Guest rating</button>
                <button>Price</button>
            </p>
        </div>

            <div>     
                <section id="lists">
                    <ul class="listings">
                        <li>
                        <div class="flex-container">      
                                <img src="https://source.unsplash.com/daily">
                                  
                                    <div id="info">
                                        <h3><span>Name of Hotel</span>2.5 star</h3>
                                        <p class="_2oHhXM">800-814 Atlantic Ave, Ocean City, 08226, NJ, United States</p>
                                        <p class="_2LH_yj">North End</p>
                                        <p>0.2 miles to city center</p>
                                        <p>0.2 miles to city center</p>
                                        <span>7.4</span>
                                        <span>Good</span>
                                    </div>
                                    <div id="info_2">
                                        <span>203 Hotels.com guest reviews</span>
                                        <ul>
                                            <li><span>Pool</span></li>
                                            <li><span>Parking available</span></li>
                                            <li><span>Restaurant</span></li>
                                            <li><span>Bathtub</span></li>
                                            <li><span>Connecting rooms available</span></li>
                                        </ul>
                                    </div>
                                    
                                    <div id="price">
                                        <p>$131</p>
                                        <p><i class="fas fa-info-circle"></i> total $146</p>
                                        <button id="booknow" >BOOK NOW</button>
                                    </div>

                                </div>  
                                <div class="flex-container">      
                                    <img src="https://source.unsplash.com/daily">
                                      
                                        <div id="info">
                                            <h3><span>Name of Hotel</span>2.5 star</h3>
                                            <p class="_2oHhXM">800-814 Atlantic Ave, Ocean City, 08226, NJ, United States</p>
                                            <p class="_2LH_yj">North End</p>
                                            <p>0.2 miles to city center</p>
                                            <p>0.2 miles to city center</p>
                                            <span>7.4</span>
                                            <span>Good</span>
                                        </div>
                                        <div id="info_2">
                                            <span>203 Hotels.com guest reviews</span>
                                            <ul>
                                                <li><span>Pool</span></li>
                                                <li><span>Parking available</span></li>
                                                <li><span>Restaurant</span></li>
                                                <li><span>Bathtub</span></li>
                                                <li><span>Connecting rooms available</span></li>
                                            </ul>
                                        </div>
                                        
                                        <div id="price">
                                            <p>$131</p>
                                            <p><i class="fas fa-info-circle"></i> total $146</p>
                                            <button id="booknow" >BOOK NOW</button>
                                        </div>
    
                                    </div> 
                                    <div class="flex-container">      
                                        <img src="https://source.unsplash.com/daily">
                                          
                                            <div id="info">
                                                <h3><span>Name of Hotel</span>2.5 star</h3>
                                                <p class="_2oHhXM">800-814 Atlantic Ave, Ocean City, 08226, NJ, United States</p>
                                                <p class="_2LH_yj">North End</p>
                                                <p>0.2 miles to city center</p>
                                                <p>0.2 miles to city center</p>
                                                <span>7.4</span>
                                                <span>Good</span>
                                            </div>
                                            <div id="info_2">
                                                <span>203 Hotels.com guest reviews</span>
                                                <ul>
                                                    <li><span>Pool</span></li>
                                                    <li><span>Parking available</span></li>
                                                    <li><span>Restaurant</span></li>
                                                    <li><span>Bathtub</span></li>
                                                    <li><span>Connecting rooms available</span></li>
                                                </ul>
                                            </div>
                                            
                                            <div id="price">
                                                <p>$131</p>
                                                <p><i class="fas fa-info-circle"></i> total $146</p>
                                                <button id="booknow" >BOOK NOW</button>
                                            </div>
        
                                        </div> 
                                        <div class="flex-container">      
                                            <img src="https://source.unsplash.com/daily">
                                              
                                                <div id="info">
                                                    <h3><span>Name of Hotel</span>2.5 star</h3>
                                                    <p class="_2oHhXM">800-814 Atlantic Ave, Ocean City, 08226, NJ, United States</p>
                                                    <p class="_2LH_yj">North End</p>
                                                    <p>0.2 miles to city center</p>
                                                    <p>0.2 miles to city center</p>
                                                    <span>7.4</span>
                                                    <span>Good</span>
                                                </div>
                                                <div id="info_2">
                                                    <span>203 Hotels.com guest reviews</span>
                                                    <ul>
                                                        <li><span>Pool</span></li>
                                                        <li><span>Parking available</span></li>
                                                        <li><span>Restaurant</span></li>
                                                        <li><span>Bathtub</span></li>
                                                        <li><span>Connecting rooms available</span></li>
                                                    </ul>
                                                </div>
                                                
                                                <div id="price">
                                                    <p>$131</p>
                                                    <p><i class="fas fa-info-circle"></i> total $146</p>
                                                    <button id="booknow" >BOOK NOW</button>
                                                </div>
            
                                            </div> 
                                            <div class="flex-container">      
                                                <img src="https://source.unsplash.com/daily">
                                                  
                                                    <div id="info">
                                                        <h3><span>Name of Hotel</span>2.5 star</h3>
                                                        <p class="_2oHhXM">800-814 Atlantic Ave, Ocean City, 08226, NJ, United States</p>
                                                        <p class="_2LH_yj">North End</p>
                                                        <p>0.2 miles to city center</p>
                                                        <p>0.2 miles to city center</p>
                                                        <span>7.4</span>
                                                        <span>Good</span>
                                                    </div>
                                                    <div id="info_2">
                                                        <span>203 Hotels.com guest reviews</span>
                                                        <ul>
                                                            <li><span>Pool</span></li>
                                                            <li><span>Parking available</span></li>
                                                            <li><span>Restaurant</span></li>
                                                            <li><span>Bathtub</span></li>
                                                            <li><span>Connecting rooms available</span></li>
                                                        </ul>
                                                    </div>
                                                    
                                                    <div id="price">
                                                        <p>$131</p>
                                                        <p><i class="fas fa-info-circle"></i> total $146</p>
                                                        <button id="booknow" >BOOK NOW</button>
                                                    </div>
                
                                                </div> 
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    
</div>

{% endblock content %}




