{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the greatest hotel website demo">
    <meta name="keywords" content="hotel,maryland hotel">
    <script src="https://kit.fontawesome.com/b279086192.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    {% comment %} <link rel="stylesheet" href="{% static 'css/mobile.css' %} "> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/search.css' %} ">
    <link rel="stylesheet" href="{% static 'css/list.css' %} ">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="{% static 'css/mobile.css' %}">
     <link href=" {% static 'assets/fonts/font-awesome.css' %} " rel="stylesheet" type="text/css">
    <link href=" {% static 'assets/fonts/elegant-fonts.css' %} " rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'assets/css/zabuto_calendar.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'assets/css/owl.carousel.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} " type="text/css">

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href=" {% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

     <!-- GOOGLE WEB FONT -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'csslog/custom.css' %}" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'csslog/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'csslog/vendors.css' %}" rel="stylesheet">
    <link href="{% static 'csslog/style.css' %}" rel="stylesheet">
    <title>Hotel JD {% block title %}{% endblock title %}</title>
</head>
<body>
    

{% include 'partials/_navbar.html' %} 


     
{% block content %} {% endblock content %}

 {% include  'partials/_footer.html' %}

</body>
</html>
<!--  java script should go below-->
<script type="text/javascript" src=" {% static 'assets/js/jquery-2.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="{% static 'assets/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerclusterer_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/richmarker-compiled.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerwithlabel_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/maps.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>



<!-- COMMON SCRIPTS -->
    <script src="{% static 'jslog/common_scripts.js' %}"></script>
	<script src="{% static 'jslog/common_func.js' %}"></script>


<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'jslog/pw_strenght.js' %}"></script>	

<script>
    var _latitude = 48.47292127;
    var _longitude = 4.28672791;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
</script>



</body>
</html>