{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the greatest hotel website demo">
    <meta name="keywords" content="hotel,maryland hotel">
    <script src="https://kit.fontawesome.com/b279086192.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    {% comment %} <link rel="stylesheet" href="{% static 'css/mobile.css' %} "> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/search.css' %} ">
    <link rel="stylesheet" href="{% static 'css/list.css' %} ">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="{% static 'css/mobile.css' %}">
     <link href=" {% static 'assets/fonts/font-awesome.css' %} " rel="stylesheet" type="text/css">
    <link href=" {% static 'assets/fonts/elegant-fonts.css' %} " rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'assets/css/zabuto_calendar.min.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'assets/css/owl.carousel.css' %} " type="text/css">
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} " type="text/css">
    <title>Hotel JD | Welcome</title>
</head>
<body>
    

{% include 'partials/_navbar.html' %} 


     
{% block content %}{% endblock content %}

{% include  'partials/_footer.html' %}
</body>
</html>
<!--  java script should go below-->
</body>
</html>